<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.randomtimer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>随机提示音</name>
    <description>一个随机提示音播放器</description>
    <author email="you@example.com">Your Name</author>
    <content src="index.html" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
